* {
    box-sizing: border-box;
}

/* Typograghy */

@font-face {
    font-family: 'poppins-ligth';
    src: url(../fonts/poppins/Poppins-Light.ttf)
}

@font-face {
    font-family: 'poppins-medum';
    src: url(../fonts/poppins/Poppins-Medium.ttf);
}
/* Basic */

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins-ligth', sans-serif;
    background-color: #22252c;
}

/* Component */

.header-container {
    margin: 0 10px;
    padding-right: 90px;
    padding-left: 90px;
    border-radius: 50px;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.main-header .logo img {
    height: 30px;
    margin-top: 15px;
}

.main-header .main-nav-list li {
    padding: 0 10px;
    font-family: 'poppins-medum';
    color: #ffffff;
    border-radius: 30px;
    font-size: 1.312rem;
    line-height: 35px;
    margin: 15px;
}

.main-header .main-nav-list li:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #21ac91;
}

.main-container {
    background-color: #383b42;
}

/* Helper*/

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Canvas*/

canvas{
    background-color: white;
}

